@import './base.css';


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%; 
    max-width: 18rem; 
  }
}


